// color variables
$navy: #0a192f;
$slate: #8892b0;
$dark-slate: #495670;
$green: #64ffda;
$green-tint: rgba(100,255,218,0.1);
$header-bg: rgba(0, 0, 0, 0.85);
$navy-shadow: #1d1d1d;
$black: #000;
$white: #fff;
$grey: #808080;
$yellow: #FFFF00;
$dark-yellow: #F9A826;
$light-yellow: #F4F1C9;
// light mode colors


// font variables
$regular: "Lora", sans-serif;
$italic: "Lora Italic", sans-serif;
$bold: "Lora Bold", sans-serif;
$code-regular: "Menlo" , sans-serif;
$font-xxs: 12px;
$font-xs: 13px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-xxl: 22px;
$font-heading: 32px;
$font-main-heading: 48px;
$border-radius: 4px;
$nav-scroll-height: 65px;
$easing: cubic-bezier(0.645,0.045,0.355,1);
$transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

// for glassmorphism css
$blur: blur(10px);

// media queries
@mixin for-desktop {
    @media (min-width: 1280px) { @content; }
}

@mixin for-tablet-horizontal {
    @media (min-width: 992px) and (max-width: 1279px) { @content; }
}

@mixin for-tablet-vertical {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
}

@mixin for-small-devices {
    @media (max-width: 991px) { @content; }
}

@mixin for-mobile {
    @media (max-width: 576px) { @content; }
}