// variables CSS 
@import "@sass/default/variables";

// font family
@font-face {
    font-family: 'charterregular';
    src: url('/static/fonts/charter/regular.eot');
    src: url('/static/fonts/charter/regular.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/charter/regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charteritalic';
    src: url('/static/fonts/charter/italic.eot');
    src: url('/static/fonts/charter/italic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/charter/italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterbold';
    src: url('/static/fonts/charter/bold.eot');
    src: url('/static/fonts/charter/bold.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/charter/bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// container css
.container{
    max-width: 1200px;
    margin: 0 auto;
    @include for-mobile{
        margin: 0 15px;
    }

    @include for-tablet-horizontal {
        max-width: 860px;
    }

    @include for-tablet-vertical {
        max-width: 550px;
    }
}

.grid-container{
    display: grid;
}

// global css
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-family: $regular;
}

html,
body {
    margin: 0;
    color: $white;
    background: $navy;
}

h1{
    font-family: $regular;
}

p{
    font-family: $regular;
    font-size: 16px;
    line-height: 1.5;
    margin: 22px 0;
}

a{
    color: $white;
    text-decoration: none;
    &:hover{
        color: $green;
    }
}

img{
    max-width: 100%;
}

.site-logo{
    display: block;
    max-width: 150px;
}

// header css
.global-header{
    position: fixed;
    left: 0;
    right: 8px;
    top: 0;
    z-index: 10;
    height: $nav-scroll-height;
    background-color: $header-bg;
    backdrop-filter: $blur;
    transition: $transition;
    will-change: transform;
    &.show{
        transform: translateY(0px);
        box-shadow: 0 10px 30px -10px $navy-shadow;
    }
    &.hide{
        transform: translateY(-100%);
        box-shadow: 0 10px 30px -10px $navy-shadow;
    }
    .header-grid{
        grid-template-columns: 1fr 1fr;
        height: 100%;
        align-items: center;
    }
}

// footer css
.global-footer{

}

// scrollbar css
#smoothScrollbar{
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    height: 100%;
    will-change: transform;
}

.scroll-content{
    padding-top: 150px;
    will-change: transform;
}

.scrollbar-track{
    // background: transparent !important;
    background-color: $header-bg !important;
    backdrop-filter: $blur !important;
}

.scrollbar-track-y{
    opacity: 1 !important;
}

.scrollbar-thumb{
    top: 2px !important;
    padding-right: 2px; 
    width: 6px !important;
    background: $dark-slate !important;
}