// variables CSS 
@import "@sass/default/variables";

// font family
@font-face {
    font-family: 'charterregular';
    src: url('/static/fonts/charter/regular.eot');
    src: url('/static/fonts/charter/regular.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/charter/regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charteritalic';
    src: url('/static/fonts/charter/italic.eot');
    src: url('/static/fonts/charter/italic.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/charter/italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charterbold';
    src: url('/static/fonts/charter/bold.eot');
    src: url('/static/fonts/charter/bold.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/charter/bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// container css
.container{
    max-width: 1200px;
    margin: 0 auto;
    @include for-mobile{
        margin: 0 15px;
    }

    @include for-tablet-horizontal {
        max-width: 860px;
    }

    @include for-tablet-vertical {
        max-width: 550px;
    }
}

.grid-container{
    display: grid;
}

// global css
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    font-family: $regular;
}

html,
body {
    margin: 0;
    color: $white;
    background: $black;
}

body{
    
}

#smoothScrollbar{
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    height: 100%;
    will-change: transform;
}

.page-wrapper{
    
}

h1{
    font-family: $regular;
}

p{
    font-family: $regular;
    font-size: 16px;
    line-height: 1.5;
    margin: 22px 0;
}

a{
    color: $white;
    text-decoration: none;
}


// header css
.global-header{

}

// footer css
.global-footer{

}