// variables CSS 
@import "@sass/default/variables";

// import single card css
@import "@sass/components/single-card";

// import discover more css
@import "@sass/components/discover-topics";

// import subscribe form scss
@import "@sass/components/subscribe-form";

.home-grid{
    grid-template-columns: repeat(8,1fr) repeat(4, minmax(48px, 1fr));
}

.grid-post-items{
    grid-column: 1 / span 7;
}

.grid-sidebar{
    grid-column: 9 / span 4;
}