// variables CSS 
@import "@sass/default/variables";

@font-face {
    font-family: "Menlo";
    src: url("/fonts/menlo/Menlo-Regular.eot");
    src: url("/fonts/menlo/Menlo-Regular.eot?#iefix") format("embedded-opentype"),
        url("/fonts/menlo/Menlo-Regular.woff2") format("woff2"),
        url("/fonts/menlo/Menlo-Regular.woff") format("woff"),
        url("/fonts/menlo/Menlo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.lead-image{
    margin: 60px 0 40px;
}

.article-container{
    max-width: 800px;
    margin: auto;
}

// code highlighter css
.wp-block-syntaxhighlighter-code > pre, 
pre > code{
    letter-spacing: 0.5px;
    font-size: $font-md;
    line-height: 1.75;
    tab-size: 2;
    word-break: normal;
    white-space: pre;
    padding: 15px 20px 12px 22px;
    overflow-x: scroll;
    border-radius: 8px;
    background-color: $navy;
    
    span{
        font-family: $code-regular !important;
    }

    &::-webkit-scrollbar {
        width: .5em;
        height: .5em;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $dark-slate;
        border-radius: .5em;
        box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
    }
}