// variables CSS 
@import "@sass/default/variables";
@import "@sass/components/more-post-card";

.lead-image {
    margin: 60px 0 40px;
}

.article-container {
    max-width: 800px;
    margin: auto;
}

// code highlighter css
.wp-block-syntaxhighlighter-code>pre,
pre>code {
    letter-spacing: 0.5px;
    font-size: $font-md;
    line-height: 1.75;
    tab-size: 2;
    word-break: normal;
    white-space: pre;
    padding: 15px 20px 12px 22px;
    overflow-x: scroll;
    border-radius: 8px;
    background-color: $navy;
    max-height: 550px;
    overflow: scroll;

    span {
        font-family: $code-regular !important;
    }

    &::-webkit-scrollbar {
        width: .5em;
        height: .5em;
    }

    &::-webkit-scrollbar-thumb {
        background: $dark-slate;
        border-radius: .5em;
        box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
    }
}

.comments-wrapper{
    margin: 60px 0 0;
}

.author-post-info,
.bio,
.author-wrapper{
    display: flex;
    align-items: center;
}

.author-post-info{
    justify-content: space-between;
}

.author-wrapper{
    font-size: $font-sm;
}

.bio{
    margin-right: 5px;
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
    }
}

// morew posts grid
.more-posts-section{
    margin-top: 20px;
    .section-heading{
        margin: 0 0 30px;
    }
    .more-posts-wrapper{
        padding: 60px 0 0;
        border-top: 1px solid #ddd;
        border-top-color: rgba(255, 255, 255, 0.2);
    }
    .more-posts-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }
}
