// variables CSS 
@import "@sass/default/variables";

/* Cursor */
.ht-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  contain: layout style size;
  pointer-events: none;
  will-change: transform;
  transition: opacity 0.3s, color 0.4s;
}

.ht-cursor:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  transform: scale(0);
  background: $dark-yellow;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, opacity 0.1s;
}

.ht-cursor.-exclusion:before, .ht-cursor.-opaque:before {
    background: $dark-yellow-opacity;
}

.ht-cursor.-normal, .ht-cursor.-text {
  mix-blend-mode: normal;
}

.ht-cursor.-normal:before, .ht-cursor.-text:before {
  background: currentColor;
}

.ht-cursor.-inverse {
  color: white;
}

.ht-cursor.-visible:before {
  transform: scale(0.2);
}

.ht-cursor.-visible.-active:before {
  transform: scale(0.23);
  transition-duration: 0.2s;
}

.ht-cursor.-pointer:before {
  transform: scale(0.15);
}

.ht-cursor.-text:before {
  opacity: 0.85;
  transform: scale(1.7);
}

.ht-cursor.-text .ht-cursor-text {
  opacity: 1;
  transform: scale(1);
}

.ht-cursor.-text.-active:before {
  transform: scale(1.6);
  transition-duration: 0.2s;
}

.ht-cursor.-opaque:before {
  transform: scale(1.32);
}

.ht-cursor.-opaque.-active:before {
  transform: scale(1.2);
}

.ht-cursor.-md:before {
  transform: scale(1.5);
}

.ht-cursor.-lg:before {
  transform: scale(2);
}

.ht-cursor.-hidden:before {
  transform: scale(0);
}
