// // variables CSS 
@import "@sass/default/variables";

.cursor {
  pointer-events: none;
  
  &__ball {
    position: fixed;
    top: 0;
    left: 0;
    // mix-blend-mode: difference;
    z-index: 1000;
    line-height: 0.8;    
    circle {
      fill: $dark-yellow;
    }
  }    
}