// variables CSS 
@import "@sass/default/variables";

.discover-card{
    margin: 0 0 80px;
    
    @include for-small-devices{
        margin: 0 0 40px;
    }
    
    h4{
        margin: 0 0 30px;
    }
    a{
        font-size: $font-sm;
        line-height: 20px;
        display: inline-block;
        padding: 8px 16px;
        margin: 0 8px 10px 0;
    }
}