// variables CSS 
@import "@sass/default/variables";

// dark/light mode switch
.switch-wrapper{
    position: relative;
}

.switch {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 34px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
        z-index: 99;
        &:checked  + .slider {
            background-color: $black;
            .moon {
                opacity: 1;
                transition: opacity 0.5s ease;
            }
            .sun {
                opacity: 0;
                transition: opacity 0.5s ease;
            }
        }        
        &:checked + .slider:before {
            transform: translate(40px,-50%);
        }
    }
    
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        transition: $transition;
        &:before {
            position: absolute;
            content: "";
            height: 30px;
            width: 30px;
            left: -10px;
            top: 50%;
            will-change: transform;
            transform: translate(0,-50%);
            background-color: $white;
            border: 5px solid $dark-slate;
            transition: $transition;
            box-shadow: 0 0 5px 0 $grey;
        }

        &:hover {
            cursor: pointer;
        }	
    
        .moon {
            position: absolute;
            top: 50%;
            left: 12px;
            height: 15px;
            width: 15px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: transparent;
            box-shadow: inset -5px 0px 0px 0 $yellow;
            opacity: 0;
            transition: opacity 0.5s ease;
        }
        
        .sun {
            position: absolute;
            top: 50%;
            right: 10px;
            height: 10px;
            width: 10px;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: $yellow;
            opacity: 1;
            transition: opacity 0.5s ease;
            box-shadow: 0 0 10px 5px $yellow;
            
        }
    }
    .round {
        border-radius: 38px;
        &:before {
            border-radius: 50%;
        }
    }
}